.profile {
  grid-area: nav;

  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  background-color: #d79820;
  background-image: url("../images/ps-neutral.png");
}

.profile img {
  margin-bottom: 1em;
}

/* Desktop style */
@media only screen and (min-width: 768px) {
  .profile {
    grid-area: header;
    justify-content: center;
  }
}
