
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 120px;

  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;

  background-color: #4055a1;
  color: #ffffff;
}

.nav-wrapper {
  height: 120px;
}

.nav-logo {
  font-family: 'Bungee', cursive;
}

.nav-right {
  float: right;
}