
nav {
  grid-area: nav;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 120px;

  padding-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;

  background-color: none;
  color: #ffffff;

  display: grid;
  grid-template-columns: 150px 1fr 200px;
  grid-template-rows: 50% 50%;
  justify-content: space-between;
}

.nav-logo {
  font-family: 'Bungee', cursive;
  grid-column: 1 / 1;
  justify-self: flex-start;
  align-self: flex-start;
}

.nav-right {
  width: auto;
  grid-area: 1 / 2 / -1 / -1;
  justify-self: flex-end;
}

.nav-right:hover {
  background-color: rgb(106, 83, 238);
}

.chev {
  width: 30px;
  height: auto;

  grid-area: span 1 / span 1 / -1 / -1;
  justify-self: center;
}

/* Desktop style */
@media only screen and (min-width:768px) {
  nav {
    background-color: #4055a1;
  }
}