/* .new-tweet{
  position: relative;
} */

.new-tweet textarea {
  resize: vertical;
  overflow: auto;
  
  margin-bottom: 1em;
  width: 100%;
  display: block;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #555149;
  /* padding: 5px; */
  min-height: 2.5em;
}

.new-tweet input {
  background-color: #4152a1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
}

.new-tweet .counter {
  float: right;
}