.new-tweet {
  display: none;
  margin-top: 1em;
  margin-bottom: 1em;
}

.new-tweet textarea {
  resize: vertical;
  overflow: auto;
  
  margin-bottom: 1em;
  width: 100%;
  display: block;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #555149;
  min-height: 2.5em;
}

.new-tweet input {
  background-color: #4152a1;
  font-family: 'Bungee', cursive;
  color: #ffffff;
}

.new-tweet .counter {
  float: right;
}

.counter-over-char-limit {
  color: #f13c1f;
}

.submit-over-char-limit {
  filter: grayscale(80%);
}