.to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 60px;
  height: 60px;
  background-color: rgb(231, 99, 59);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.to-top>p {
  color: white;
  text-align: center;
}