.tweet {
  border: 3px solid #5e5b53;
  padding-left: 3%;
  padding-right: 3%;
  opacity: 0.8;

  margin-top: 1em;
  margin-bottom: 1em;
}

.tweet:hover {
  opacity: 1;
}

.tweet header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .name {
  /* flex-basis: 2 1 auto; */
  margin: auto;
  display: inline;
}

.tweet .msg {
  border-bottom: 2px solid  #5e5b53;
  margin: 0 auto;
}

.tweet .handle {
  opacity: 0;
}

.tweet:hover .handle {
  opacity: 0.8;
}

.tweet footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet .icon {
  width: 20px;
  color: #5e5b53;
}